:root {
  --colorTextPrimary: #ffffff;
  --colorAccent: #fbd784;
  --colorBackground: #0b1d26;
}
/* ============================Global============================= */
body {
  font-family: "Chivo", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: var(--colorTextPrimary);
  background-color: var(--colorBackground);
  background-image: url(../images/background.webp);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
}
.container {
  max-width: 1492px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* ==========================header===================== */
.header {
  padding-top: 65px;
}
.header-container {
  max-width: 93.3%;
  padding: 0 15px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-family: "Chonburi", serif;
  font-weight: 400;
  font-size: 32px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
}
.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.nav-link:hover {
  opacity: 0.8;
}
.action-link {
  font-weight: 900;
  font-size: 17px;
  display: flex;
  gap: 8px;
  align-items: center;
}
.action-link:hover {
  opacity: 0.8;
}
.action-link::before {
  content: "";
  width: 24px;
  height: 24px;
  background-image: url(../images/account.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
/* ===========================main========================= */
.hero {
  padding-top: 200px;
  padding-bottom: 750px;
}
.hero-container {
  max-width: 950px;
}
.hero-text {
  letter-spacing: 0.33em;
  text-transform: uppercase;
  margin-bottom: 32px;
  display: flex;
  gap: 32px;
  align-items: center;
}
.hero-text::before {
  content: "";
  width: 72px;
  height: 2px;
  background-color: var(--colorAccent);
}
.hero-title {
  font-family: "Cinzel", serif;
  font-weight: 400;
  font-size: 88px;
  line-height: 1.14;
  text-transform: capitalize;
  margin-bottom: 32px;
}

.hero-link {
  display: flex;
  gap: 9px;
  align-items: center;
}
.hero-link:hover {
  opacity: 0.8;
}
.hero-link::after {
  content: "";
  width: 16px;
  height: 24px;
  background-image: url(../images/arrow-down.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.travel {
  padding-bottom: 200px;
}
.travel-step {
  display: flex;
  align-items: center;
  gap: 115px;
  margin-bottom: 200px;
}
.travel-step:nth-child(even) .step-photo {
  order: -1;
}
.travel-step:last-child {
  margin-bottom: 0;
}
.step-body {
  padding-left: 150px;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 27px;
  background-image: url(../images/card-01.svg);
  background-repeat: no-repeat;
  background-position: left top;
}
.travel-step:nth-child(2) .step-body {
  background-image: url(../images/card-02.svg);
}
.travel-step:nth-child(3) .step-body {
  background-image: url(../images/card-03.svg);
}
.step-text {
  font-weight: 900;
  letter-spacing: 0.33em;
  text-transform: uppercase;
  color: var(--colorAccent);
  display: flex;
  gap: 24px;
  align-items: center;
}
.step-text::before {
  content: "";
  width: 72px;
  height: 2px;
  background-color: var(--colorAccent);
}
.step-title {
  font-family: "Cinzel", serif;
  font-weight: 400;
  font-size: 64px;
}
.step-description {
  font-weight: 900;
  line-height: 1.8;
}
.step-link {
  font-weight: 900;
  color: var(--colorAccent);
  display: flex;
  align-items: center;
  gap: 10px;
}
.step-link:hover {
  opacity: 0.8;
}
.step-link::after {
  content: "";
  width: 24px;
  height: 16px;
  background-image: url(../images/arrow-right.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
/* ====================footer======================== */
.footer {
  padding-bottom: 120px;
}
.footer-container {
  display: flex;
  gap: 200px;
}
.footer-info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.footer-info-text {
  font-weight: 900;
  line-height: 1.8;
  max-width: 303px;
  flex-grow: 1;
}
.footer-info-copyright {
  line-height: 1.8;
  opacity: 0.5;
}
.blog-title,
.mntn-title {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.33333;
  color: var(--colorAccent);
  margin-bottom: 25px;
}
.blog-list,
.mntn-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.blog-link,
.mntn-link {
  line-height: 1.8;
}
.blog-link:hover,
.mntn-link:hover {
  opacity: 0.8;
}
